 /* A font by Jos Buivenga (exljbris) -> www.exljbris.com */ 

@font-face {
    font-family: "fontin";
    src: url('./fonts/Fontin-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "fontin";
    src: url('./fonts/Fontin-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "fontin";
    src: url('./fonts/Fontin-SmallCaps.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}


body{

    margin: 0;
    padding: 0;
}

.form-body{
    display: flex;
}

.image-banner-section{
    
    box-sizing: border-box;
    width: 40vw;
    height: 100vh;
    flex-shrink: 0;

    background-image: url('./images/main_image.png');
    background-size: contain;

    /* need this for to position .logo-banner */
    position: relative;
}

.logo-banner{
    /* need this to position the banner */
    position: absolute;

    /* propertie for the size of the banner */
    top: 20%;
    width: inherit;
    height: 20%;

   /* banner colour & shadow properties */
    background-color: rgba(142, 74, 26, 0.845);
    border: 2px solid whitesmoke;
    border-left: none;
    border-right: none;
    box-shadow: inset 0 0 10px rgb(33, 33, 33);

    /* makes aligning children element easier */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    
}

.logo-image{
    background-image: url('./images/exile.jpeg');
    background-size: contain;
    border-radius: 4em;
    opacity: 1;
    height: 80%;
    aspect-ratio: 1/1;
}

.logo-text{

    font-family: 'fontin';
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 4em;
}


.form-section{
    /* width: 70vw; */
    box-sizing: border-box;
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
}

.quote-section{

    flex: none;
    height: 35%;
    background-color: rgb(79, 51, 21);

}


p.quotes{

    max-width: 55ch;
    margin-top: 8%;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-size: 20px;
    font-family: 'fontin';
    font-weight: 900;
    font-style: normal;
    color: rgb(224, 130, 80);

}

p.quotes-end{
    font-size: 20px;
    margin-left: 3rem;
    font-family: 'fontin';
    font-weight: 900;
    font-style: normal;
    color: rgb(224, 130, 80);

}

.input-section{

    flex: none;
    height: 35%;
     background-color: rgb(225, 200, 154);
}

.button-section{

    flex: none;
    height: 30%;
    background-color: gray;
}